<div class="inn-table-options">
    <button class="primary-btn">
        <img src="icons/add.svg" />
        Add
    </button>
    <div class="search-input-wrapper">
        <img src="icons/search.svg" />
        <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchTextChanged()" placeholder="Search">
    </div>
    <div class="mx-auto"></div>
    <button class="outline-btn"><img src="icons/filter.svg" /></button>
    <button class="outline-btn"><img src="icons/arrow-upload.svg" /></button>
    <button class="outline-btn"><img src="icons/arrow-download.svg" /></button>
    <button class="outline-btn"><img src="icons/settings.svg" /></button>
</div>
<div class="inn-table">
    <div class="inn-table-header">
        <div class="inn-pinned-left-header" [style.width.px]="leftPinnedWidth">
            @for (header of _leftPinnedColumns; track $index) {
            <ng-container *ngTemplateOutlet="headerTemplate; context: { header: header, index: $index, align: 'left' }"></ng-container>
            }
        </div>
        <div class="inn-header-viewport" #headerContainer (scroll)="headerScrolled($event)">
            <div class="inn-header-container">
                <div class="inn-header-group" [style.height.px]="rowHeight">
                    @for (header of _centerColumnGroup; track $index) {
                    <ng-container *ngTemplateOutlet="headerTemplate; context: { header: header, index: $index, align: 'center' }"></ng-container>
                    }
                </div>
                <div class="inn-header-row" [style.height.px]="rowHeight">
                    @for (header of _centerColumns; track $index) {
                        <ng-container *ngTemplateOutlet="headerTemplate; context: { header: header, index: $index, align: 'center' }"></ng-container>
                    }
                </div>
            </div>
        </div>
        <div class="inn-pinned-right-header" [style.width.px]="rightPinnedWidth">
            @for (header of _rightPinnedColumns; track $index) {
            <ng-container *ngTemplateOutlet="headerTemplate; context: { header: header, index: $index, align: 'right' }"></ng-container>
            }
        </div>
    </div>

    <div class="inn-floating-top">
        <ng-container *ngTemplateOutlet="bodyWrapper; context: { rowData: pinnedTopRowData }"></ng-container>
    </div>
    <div class="inn-table-body">
        <ng-container *ngTemplateOutlet="bodyWrapper; context: { rowData: paginatedData }"></ng-container>
    </div>
    <div class="inn-floating-bottom"></div>
</div>
<div class="inn-pagination-panel">
    <span><b>Showing: </b>{{currentItemsCount}} of {{totalItems}}</span>
    <div class="mx-auto"></div>
    <select class="items-per-page" (change)="changeItemsPerPage($event)">
        @for (option of itemsPerPageOptions; track $index) {
            <option [value]="option">{{ option }}</option>
        }
    </select>
    <span class="secondary-text">rows / page</span>
    <button class="previous" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
        <img src="icons/chevron-left.svg" class="icon" />
        Previous
    </button>
    <!-- <span>{{ currentPage }} / {{ totalPages }}</span> -->
    <button class="next" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
        Next
        <img src="icons/chevron-right.svg" class="icon" />
    </button>
</div>

<ng-template #headerTemplate let-header="header" let-index="index" let-align="align">
    <div class="inn-table-header-cell" [innColumnResize]="header" (columnWidthChange)="onColumnWidthChange($event, index, align, header)"
        [ngStyle]="getCombinedHeaderStyles(header)" (click)="onHeaderClick($event, header)">
        <span class="label text-truncate-1">{{ header.field }}</span>
        @if (currentSortColumn === header) {
        <div class="sort-icon-wrapper">
            @if (currentSortDirection == 'asc') {
                <img src="icons/sort-arrow-up.svg" class="sort-icon" />
            }
            @if (currentSortDirection == 'desc') {
                <img src="icons/sort-arrow-down.svg" class="sort-icon" />
            }
        </div>
        }
    </div>
</ng-template>

<ng-template #bodyWrapper let-rowData="rowData">
    <div class="inn-pinned-left-cols-container" [style.width.px]="leftPinnedWidth">
        <ng-container
            *ngTemplateOutlet="bodyTemplate; context: { columns: _leftPinnedColumns, data: rowData }"></ng-container>
    </div>
    <div class="inn-center-cols-container" #bodyContainer [style.height.px]="rowHeight * rowData.length"
        (scroll)="bodyScrolled($event)">
        <ng-container *ngTemplateOutlet="bodyTemplate; context: { columns: _centerColumns, data: rowData }"></ng-container>
    </div>
    <div class="inn-pinned-right-cols-container" [style.width.px]="rightPinnedWidth">
        <ng-container
            *ngTemplateOutlet="bodyTemplate; context: { columns: _rightPinnedColumns, data: rowData }"></ng-container>
    </div>
</ng-template>

<ng-template #bodyTemplate let-columns="columns" let-data="data">
    @for (row of data; track $index; let i=$index) {
    <div class="inn-table-row" [attr.data-index]="i" 
        (mouseenter)="onRowMouseEntered(row)" (mouseleave)="onRowMouseLeave(row)"
        [style.height.px]="rowHeight" [style.transform]="'translateY(' + row.styles.translateY + 'px)'"
        [class.inn-table-row-hovered]="row.hovered">
        @for (column of columns; track j; let j = $index) {
            <inn-table-cell class="inn-table-cell" [ngStyle]="column.layoutStyles" [value]="row[column.field]" [params]="row.params" />
        }
    </div>
    }
</ng-template>
