<div class="inn-table">
    <div class="inn-table-header">
        <div class="inn-pinned-left-header" [style.width.px]="leftPinnedWidth">
            @for (header of _leftPinnedColumns; track $index) {
            <ng-container *ngTemplateOutlet="headerTemplate; context: { header: header, index: $index, align: 'left' }"></ng-container>
            }
        </div>
        <div class="inn-header-viewport" #headerContainer (scroll)="headerScrolled($event)">
            <div class="inn-header-container">
                <div class="inn-header-group" [style.height.px]="rowHeight">
                    @for (header of _centerColumnGroup; track $index) {
                    <ng-container *ngTemplateOutlet="headerTemplate; context: { header: header, index: $index, align: 'center' }"></ng-container>
                    }
                </div>
                <div class="inn-header-row" [style.height.px]="rowHeight">
                    @for (header of _centerColumns; track $index) {
                        <ng-container *ngTemplateOutlet="headerTemplate; context: { header: header, index: $index, align: 'center' }"></ng-container>
                    }
                </div>
            </div>
        </div>
        <div class="inn-pinned-right-header" [style.width.px]="rightPinnedWidth">
            @for (header of _rightPinnedColumns; track $index) {
            <ng-container *ngTemplateOutlet="headerTemplate; context: { header: header, index: $index, align: 'right' }"></ng-container>
            }
        </div>
    </div>

    <div class="inn-floating-top"></div>
    <div class="inn-table-body">
        <div class="inn-pinned-left-cols-container" [style.width.px]="leftPinnedWidth">
            <ng-container *ngTemplateOutlet="bodyTemplate; context: { columns: _leftPinnedColumns }"></ng-container>
        </div>
        <div class="inn-center-cols-container" #bodyContainer (scroll)="bodyScrolled($event)">
            <ng-container *ngTemplateOutlet="bodyTemplate; context: { columns: _centerColumns }"></ng-container>
        </div>
        <div class="inn-pinned-right-cols-container" [style.width.px]="rightPinnedWidth">
            <ng-container *ngTemplateOutlet="bodyTemplate; context: { columns: _rightPinnedColumns }"></ng-container>
        </div>
    </div>
    <div class="inn-floating-bottom"></div>
</div>

<ng-template #headerTemplate let-header="header" let-index="index" let-align="align">
    <div class="inn-table-header-cell" [innColumnResize]="header" (columnWidthChange)="onColumnWidthChange($event, index, align, header)"
        [ngStyle]="getCombinedHeaderStyles(header)" (click)="onHeaderClick($event, header)">
        <div class="label text-truncate-1">
            {{ header.field }}
        </div>
    </div>
</ng-template>

<ng-template #bodyTemplate let-columns="columns">
    @for (row of rowData; track $index; let i=$index) {
    <div class="inn-table-row" [style.height.px]="rowHeight" [style.transform]="'translateY(' + (i * rowHeight) + 'px)'">
        @for (column of columns; track j; let j = $index) {
        <div class="inn-table-cell" [ngStyle]="column.layoutStyles">
            <div class="label text-truncate-1">
                {{ row[column.field] }}
            </div>
        </div>
        }
    </div>
    }
</ng-template>
