<!-- <input type="text" id="filter-text-box" placeholder="Filter..." (input)="onFilterTextBoxChanged()" /> -->

<!-- <ag-grid-angular [rowData]="rowData" [columnDefs]="colDefs" class="ag-theme-quartz" style="height: 500px;"  [rowSelection]="{mode: 'multiRow'}"
 [defaultColDef]="defaultColDef" [pinnedTopRowData]="pinnedTopRowData" [pinnedBottomRowData]="pinnedBottomRowData" (gridReady)="onGridReady($event)"
 [pagination]="true" /> -->

 <div style="margin-block: 4rem;"></div>

 <app-inn-table  [rowData]="rowData" [columnDefs]="colDefs" [rowSelection]="{mode: 'multiRow'}" [pinRows]="true"
 [pinnedTopRowData]="pinnedTopRowData" [pinnedBottomRowData]="pinnedBottomRowData" />